@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-blue-50 to-indigo-100 flex justify-center items-center h-screen;
  font-family: 'Poppins', sans-serif;
}